// Colours

$white: whiteSmoke;
$black: #333;
$blue: hsl(200, 100%, 50%);

// Generic

$size: 2em;

$padding: 2em;

$font-size: 150%;
$font-family: 'Montserrat', 'Hevletica Neue', sans-serif;
$line-height: 1.5;

$max-width: 26em;
