// Colours

$white: whiteSmoke;
$black: #444;
$blue: hsl(200, 100%, 50%);

// Generic

$size:2em;

$padding: 2em;

$font-size: 16px;
$font-family: 'Lato', 'Open Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$line-height: 1.5;

$max-width: 26em;