
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  font: normal #{$font-size}/#{$line-height} $font-family;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: $black;
  background: $white;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1em;
  margin: 1em 0;
  letter-spacing: -.07em;
}

h1 { font-size: 4em }
h2 { font-size: 3em }
h3 { font-size: 2em }
h4 { font-size: 1.5em }
h5 { font-size: 1.25em }
h6 { font-size: 1em }