%form

  - data.steps.each_with_index do |step, index|
    
    %section.step{data: { step: index } }
      %h1= "Step #{index + 1}"

      %ol
        - step.labels.each do |label|
          %li.form-item
            %label= label['title']
            %input{type: 'text'}