- steps = 5

%form
  
  - (1..steps).each do |step|
    
    %section.step{data: { step: step } }
      %h1= "Step #{step}"
      
      %ol
        %li.form-item
          %input{type: 'text'}
        %li.form-item
          %input{type: 'text'}
        %li.form-item
          %input{type: 'text'}
        %li.form-item
          %input{type: 'text'}
        
        - if step == steps
          %li.form-submit
            %input{type: 'submit'}