nav.navigation {
  a {
    display: inline-block;
    width: $size * 2;
    height: $size * 2;
    line-height: $size * 2;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: top;
    color: $white;
    background: $blue;
    border: 0.5em solid whiteSmoke;
    @include border-radius(50%);
  
    &.active {
      background-color: $black;
    }
  }
  .nav-link {
    @include colSpan(1, 5);
    padding:0;
    &:first-child{
      margin-left: -0.5em;
    }
  }
}